textarea[name="message"]{
    resize: none;
}


.feedback-form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0  auto;
    width: 360px;
}

/* .feedback-form label{
    display: flex;
    flex-direction: column;
} */

.feedback-form label:first-child{
    margin-bottom: 8px;
}

.feedback-form input[name="email"]{
    margin-top: 8px;
    width: 328px;
    padding: 9px 14px;
    font-size: 16px;
    border: #808080 1px solid;
    border-radius: 4px;
}

.feedback-form input[name="email"]::placeholder{
    color: transparent;
}

.feedback-form input[name="email"]:hover{
border: #000000 1px solid;
}
.feedback-form input[name="email"]:focus{
    outline: #808080;
}

.feedback-form input[name="email"]:focus::placeholder{
    color: #000000;
}

.feedback-form textarea[name="message"]{
    margin-top: 8px;
    width: 328px;
    height: 80px;
    padding: 9px 14px;
    font-size: 16px;
    border: #808080 1px solid;
    border-radius: 4px;
}

.feedback-form button[type="submit"]{
    background-color: #4E75FF;
    padding: 8px 16px;
    border: #4E75FF;
    border-radius: 8px;
    max-width: 95px;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    margin-top: 16px;
    align-items: flex-start;
}

.feedback-form button[type="submit"]:hover{
    background-color: #6C8CFF;
    transition: background-color ease-in-out 150ms;
}
